
{% extends 'base.html' %}

{% block title %} Togstatus i Norge {% endblock %}

{% block content %}

  <h1>Togstatus i Norge</h1>

  <br>
  <input type="button" id="updateButton" value="Oppdater tabell">
  <br>
  <br>
  
  Sist oppdatert : <span id='demo'> - </span>
  <br>
  
   Antall aktive tog: <span id='trains'> - </span>
   <br>
   Antall forsinkede tog: <span id='delays'> - </span>
   <br>

   <div>
   Rådata: <span id='api_str'> - </span>
  </div>
   <br>
   Spesifiser søk om ønskelig
   <br>
   Linje (default alle linjer):
   <br>
   <input type="text" id="line"  size="10">
   <br>
   <br>
   Tidshorisont i minutter (default 30 min):
   <br>
   <input type="text" id="interval" size="10">
   <br>
   <br>
   Endestasjon (default alle):
   <br>
   <input type="text" id="terminus" size="10">
   <br>
   <br>
   
  
  <br>

<!--
  <time>
    <div class="tick-container">
      <div class="tick">
        <div class="tick">
          <div class="tick">
            <div class="tick">
              <div class="tick">
                <div class="tick"></div>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    
    <div id="minute" class="hand"></div>
    <div id="hour" class="hand"></div>
    <div id="second" class="hand"></div>
    
  </time>
-->


  <input type="button" hidden id="antallRader" value="Vis antall rader">
  <br>
  <br>

  <br>
  <br>
  
  <table id="test_table">
  </table>



{% endblock %}
